---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Arde Outra Vez">
	<div class="em-breve">
		<div>
			<div class="fire">
				<img src="https://images.emojiterra.com/google/android-12l/512px/1f525.png" alt="">
			</div>
			<h2>FALTAM</h2>
			<div class="countdown">
				<div class="container-day">
					<h3 class="day">Time</h3>
					<h3>Dias</h3>
				</div>
				<div class="container-hour">
					<h3 class="hour">Time</h3>
					<h3>Horas</h3>
				</div>
				<div class="container-minute">
					<h3 class="minute">Time</h3>
					<h3>Minutos</h3>
				</div>
				<div class="container-second">
					<h3 class="second">Time</h3>
					<h3>Segundos</h3>
				</div>
			</div>
		</div>

		<div class="charadas">
			<h2>As respostas para todas as suas dúvidas na BÍBLIA você encntrará</h2>
			<div class="cards">
				<div class="charada-1 card-charada">
					<h3>🔥 Charada 1</h3>
					<p> No Monte Carmelo, eu me posicionei.
						Desafiando os profetas de uma terra estrangeira.
						O fogo consumiu meu sacrifício, sem ninguém para culpar,
						provando o poder do Deus que eu proclamo. Qual é o meu nome?</p>
				</div>
				<div class="charada-2 card-charada">
					<h3>🔥 Charada 2</h3>
					<p>	Um toque do apóstolo levado pelos necessitados.
						Um simples toque, um pano tão suado.
						Espíritos fugiram, doenças desfeitas.
						Avivamento pelo meu poder, uma batalha perfeita. Quem eu sou?</p>
				</div>
				<div class="charada-3 card-charada">
					<h3>🔥 Charada 3</h3>
					<p>
						No vale sem vida, um profeta era eu.
						Falando aos ossos, como a morte entendeu.
						Com chocalhos e tremores, tendões alinhados.
						Revivendo o que morreu, responda, quem sou eu?
					</p>
				</div>
				<div class="charada-4 card-charada">
					<h3>🔥 Charada 4</h3>
					<p>
						Eu desço como uma tempestade das alturas.
						Línguas minhas, acesas com flamas em fartura.
						Concedendo presentes aos crentes, acendendo o sobrenatural. 
						Quem sou eu, o fogo celestial?
					</p>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	
	.em-breve {
		max-width: 48rem;
		margin: 2rem auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.fire {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	img {
		max-width: 7rem;
	}

	.em-breve h2 {
		font-size: 6.4rem;
		text-align: center;
	}

	.countdown {
		display: flex;
		justify-content: space-between;
		text-align: center;
		max-width: 60rem;
		gap: 2rem;
	}

	.container-day, 
	.container-hour, 
	.container-minute,
	.container-second {
		background-color: #3f3631;
		width: 120px;
		border-radius: 30px;
		border: 1px solid #fb725d;
		padding: 0 8px;
	} 

	.day,
	.hour,
	.minute,
	.second {
		font-size: 3rem;
	}

	.charadas {
		margin-top: 4rem;
	}

	.cards {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.charadas h2 {
		font-size: 30px;
		font-weight: 500;
		text-align: left;
	}
	.card-charada {
		background-color: #3f3631;
		padding: .8rem 2rem;
		border: 2px solid #fb725d;
		border-radius: 30px;
	}

	p {
		font-size: 1.2rem;
	}

	@media (max-width: 40em) {
		.em-breve {
		max-width: 48rem;
		margin: 2rem auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		}

		img {
			max-width: 4rem;
		}

		.em-breve h2 {
			font-size: 2.4rem;
		}

		.countdown {
			max-width: 60rem;
			gap: .6rem;
		}

		.container-day, 
		.container-hour, 
		.container-minute,
		.container-second {
			width: 4rem;
			border-radius: 1.4rem;
			padding: 0 .6rem;
		}
		.countdown h3 {
			font-size: .7rem;
		}
		h3.day,
		h3.hour,
		h3.minute,
		h3.second {
			font-size: 1.8rem;
		} 

		.charadas {
			padding: 0 1rem;
		}

		.charadas h2 {
			font-size: 1.8rem;
		}
		
	}

	@media (max-width: 30em) {
		.container-day, 
		.container-hour, 
		.container-minute,
		.container-second {
			width: 3.3rem;
			border-radius: 1.4rem;
			padding: 0 .7rem;
		}
	}
</style>


<script>
	const countdown = () => {
		const countDate = new Date('July 01, 2023 19:00:00').getTime();
		const now = new Date().getTime();
		const gap =  countDate - now;

		const second = 1000;
		const minute = second * 60;
		const hour = minute * 60;
		const day = hour * 24;

		const textDay = Math.floor(gap / day);
		const textHour = Math.floor((gap % day) / hour);
		const textMinute = Math.floor((gap % hour) / minute);
		const textSecond = Math.floor((gap % minute) / second);

		document.querySelector(".day").innerText = textDay;
		document.querySelector(".hour").innerText = textHour;
		document.querySelector(".minute").innerText = textMinute;
		document.querySelector(".second").innerText = textSecond;
	}

	setInterval(countdown, 1000)

</script>